<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Style.css">
    <title>Receta Ñoquis</title>
</head>
<body>
    <h1 id="Tamañofuente">¿Como hacerlo?</h1>
    <br> <img src="../img/Ñoquis.jfif" alt="Imagen plato de Ñoquis" height="200px" width="500px">
    <br><h2 class="colorrojo" class="Fuente30"><i>Ingredientes:</i></h2>
    <ul>
        <li>1 kilo de papas</li>
        <li>2 cucharadas de sal gruesa</li>
        <li>1 huevo</li>
        <li>1 yema</li>
        <li>Cantidad a gusto de sal, pimienta y nuez moscada</li>
        <li>1 cucharada de polvo para hornear</li>
        <li>350 g de harina</li>
        <li>1 chorrito de aceite</li> </ul>
    <br> <h2 class="colorrojo" class="Fuente30"><i>Preparación: </i></h2>
    <iframe width="500px" height="200px" src="https://www.youtube.com/embed/jANqYn5haf0" title="ÑOQUIS de PAPA CASEROS | Cómo hacer ñoquis de papa caseros - CUKit!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <ol>
        <li>Llenar una cacerola con agua fría y agregar las papas y sal gruesa. Hervir 20 minutos, o hasta que las papas estén tiernas. Escurrirlas y dejarlas enfriar un poquito (no del todo).</li>
        <li>Hacer un puré.</li>
        <li>En un bowl, formar una corona con el puré. Agregar en el centro los huevos, sal, pimienta, nuez moscada y el polvo leudante. Incorporar la harina de a poco, y unir con las manos, ayudándose con una espátula, de afuera hacia adentro, hasta formar una masa homogénea.</li>
        <li>Hacer rollitos con la masa de un centímetro y medio de grosor. Cortarlos en trocitos de 2 centímetros y darles la forma clásica con el marcador de ñoquis o con un tenedor.</li>
        <li>Cocinar los ñoquis en agua hirviendo con un chorrito de aceite y sal gruesa. Estarán listos cuando suban a la superficie. Servir solos o con la salsa que se desee.</li></ol>
    <br> <a href="../../Index.html">Volver a la pagina principal</a>
      
</body>
</html>